html, body {
    min-height: 100vh !important;
    color: #F0F2EF !important;
    background-color: #857f74 !important;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Navigation bar */
nav {
    background-color: #061b23;
}

.navbar-collapse {
    flex-grow: 0 !important;
    margin-right: 80px;
}

.navbar-brand {
    color: #F0F2EF !important;
}

.nav-link {
    color: #F0F2EF !important;
    font-size: 1.25rem !important;
    margin: 20px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #857f74 !important;
    text-decoration: underline 5px #56282d;
    transform: scale(1.15);
}

.navbar-toggler {
    border: none !important;
    margin-top: 10px !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler span {
    color: #F0F2EF;
}

/* Footer */
footer {
    margin-top: 0;
    width: 100%;
    padding: 3rem 1rem;
    background-color: #061b23;
}

footer .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col {
    min-width: 350px;
    padding: 0 2rem;
}

footer .logo {
    width: 100px;
    margin-bottom: 25px;
}

footer h4 {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    color: #857f74;
    font-weight: 700;
}

footer h4::after{
    content: ' ';
    height: 3px;
    width: 0px;
    background-color: #56282d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

footer h4:hover::after {
    width: 30px;
}

footer .social a i {
    color: #F0F2EF;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

footer .social a i:hover{
    transform: scale(1.5);
    color: #857f74;
    text-decoration: underline 3px #56282d;
}

footer .links a {
    display: block;
    text-decoration: none;
    color: #F0F2EF;
    margin-bottom: 5px;
    position: relative;
}

footer .links a:hover {
    color: #857f74;
    text-decoration: underline 3px #56282d;
}

footer .contact-details {
    display: inline-flex;
    justify-content: space-between;
}

footer .contact-details i {
    margin-right: 15px;
}

footer .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer .form input {
    background-color: #857f74;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #061b23;
}

footer .form input::placeholder {
    color: #061b23;
}

footer .form button {
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #56282d;
}

/* Home page */

#home {
    background-color: #857f74;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.intro {
    background-color: #061b23;
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
}

.rotating-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.rotating-circle p {
    height: 300px;
    width: 300px;
    position: relative;
    animation: effect 8s linear infinite;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 150px;
    transform-style: flat;
    font-weight: 900;
    font-size: 25px;
    color: #56282d;
}

.intro-text {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.vendors {
    margin-top: 0;
    padding-top: 75px;
    padding-bottom:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
}

.vendors h2 {
    font-size: 40px;
    cursor: pointer;
    color: #56282d;
    transition: 0.4s;
    font-weight: 800;
}

.vendors h2:hover {
    transform: scale(1.1);
}

.vendors-logo {
    height: 110px;
    width: 110px;
    margin-top: 15px;
    border-radius: 6px;
}

/* About Me Page */
.about-me {
    background-color: #857f74;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.about-me-image {
    height: 550px;
    object-fit: cover;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.about-me-intro,
.main-text {
    margin-top: 165px;
    font-size: 1.5rem;
    line-height: 1.8;
}

.desk-setup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.desk-setup-image {
    height: 500px;
    object-fit: cover;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media(max-width:1081px) {

    /* Responsive Footer */
    footer .row {
        flex-direction: column;
    }

    footer .col {
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {

    /* Responsive Rotating circle header */
    .intro {
        flex-direction: column;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}