{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
        <!-- Link to base.css file  -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <!-- Boostrap CSS link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}

    {% block corejs %}
        <!-- Bootstrap JS and Popper links -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" 
                integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
        </script>
        <!-- Font Awesome kit -->
        <script src="https://kit.fontawesome.com/7c1ff51b02.js" crossorigin="anonymous"></script>
    {% endblock %}
    <title>WillbaKeebs</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand mt-2" href="#">
                <img src="#" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                WillbaKeebs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars fa-xl"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-2">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" href="#">Build Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col" id="website">
                    <img src="" alt="Logo" class="logo">
                    <p>A custom mechanical keyboard blog page to share my interest of 
                        the hobby along with the keyboards I have built.</p>
                    <div class="social">
                        <a href="https://www.instagram.com/willr.hawkins/"><i class="fa fa-instagram fa-xl"></i></a>
                        <a href="www.linkedin.com/in/william-hawkins-software-developer"><i class="fa fa-linkedin fa-xl"></i></a>
                        <a href="https://github.com/Willr-hawkins"><i class="fa fa-github fa-xl"></i></a>
                    </div>
                </div>
                <div class="col" id="useful-links">
                    <h4>Useful Links</h4>
                    <div class="links">
                        <a href="">Home</a>
                        <a href="">About Me</a>
                        <a href="">Blog</a>
                        <a href="">Build Service</a>
                    </div>
                </div>
                <div class="col" id="contact">
                    <h4>Contact</h4>
                    <div class="contact-details">
                        <i class="fa fa-location"></i>
                        <p>Torridge Road, Appledore, <br> North Devon, UK</p>
                    </div>
                    <div class="contact-details">
                        <i class="fa fa-phone"></i>
                        <p>+44 7732746355</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form">
                    <form action="">
                        <input type="text" placeholder="Email here....">
                        <button><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>