{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="about-me">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img class="about-me-image float-end" src="{% static 'images/about-me-image.jpeg' %}" alt="about me image">
                </div>
                <div class="col-12 col-lg-8">
                    <p class="about-me-intro">Hi, I’m Will, a 20-year-old from the United Kingdom with a passion for tech and creativity. 
                        While I spend most of my time building my skills as an aspiring Full Stack Developer, 
                        one of my favorite hobbies is exploring the world of mechanical keyboards.
                        This blog is my way of sharing that passion—whether it’s customizing layouts, 
                        reviewing switches, or diving into the nuances of keycaps, I love everything about the tactile experience of a great keyboard. 
                        Join me as I share tips, tricks, and insights about this incredible hobby.
                    </p>
                </div>
            </div>
            <div class="desk-setup">
                <p class="text-center main-text">I’ve always been deeply interested in technology and take great pride in maintaining a clean,
                     aesthetically pleasing desk setup. It was through this passion for a functional and beautiful workspace that my love for keyboards truly began.
                </p>
                <img class="desk-setup-image" src="{% static 'images/desk-setup.jpeg' %}" alt="Desk Setup">
                <p class="text-center main-text mt-2">I quickly fell in love with custom keyboards and the tight-knit community that surrounds them. 
                    I was fascinated by the endless possibilities—how different sound profiles can be achieved through various switches, keycaps, 
                    and designs, as well as how the choice of materials impacts not only the sound but also the typing experience.
                </p>
            </div>
            <div class="row other-interests">
                <div class="col-12 col-lg-8">
                    <p class="main-text">I’d also love for you to meet my dog, Mila! She’s a blue French Bulldog with a big personality and an even bigger place in my heart. 
                        Mila is a huge part of my life and one of my greatest joys. She absolutely loves running on the beach,
                        where she can sprint, play, and sniff to her heart’s content.
                    </p>
                </div>
                <div class="col-12 col-lg-4">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'images/mila-1.jpeg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/mila-2.jpeg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/mila-3.jpeg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/mila-4.jpeg' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/mila-5.jpeg' %}" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}